/* custom @AleixAlgueró */
.forms {
    display: flex;
      justify-content: center;
      align-content: space-around;
      flex-wrap: nowrap;
      flex-direction: row;
  }
  
  .formJornada{
    margin: 10px;
  }
  
  i.fas.fa-history.fa-lg.formJornada{
    line-height: 1.8em;
  }
  
  #alert-success{
    display: none;
  }
  
  #alert-danger{
    display: none;
  }
  
  #hms{
     display: flex;
    }
  
  #titol{
    margin: 30;
  }
  
  .thead-dark{
    background-color: #212529;
    color: white;
  }
  
  
  /* .options{
    justify-content: center;
    margin-top: 25px;
    max-width: 1150px;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
  }
  
  .option{
    margin:20px;
    height: 60px;
    min-width: 250px;
    max-width: 100%;
    border-radius: 10px;
    font-size: 25px;
    border: none;
  } */

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header menu'
    'main right'
    'footer footer';
  grid-gap: 10px;
  padding: 1px;
}

.grid-container > div {
  text-align: center;
  padding: 0px 0;
  font-size: 30px;
}
.opcio{
  width:100%;
  height:100%;
  padding:10px;
}

.grid-container-home {
  padding:10px 10px 10px 10px;
  display: grid;
  grid-template-areas:
    'header menu'
    'main right'
    'footer footer';
  grid-gap: 10px;
}


.btn-orange {
  color: #212529;
  background-color: #fcad05;
  border-color: #ff9c05;
}
.btn-orange:hover {
  color: #212529;
  background-color: #ff9c05;
  border-color: #ef9500;
}
.btn-check:focus + .btn-orange, .btn-orange:focus {
  color: #212529;
  background-color: #ef9500;
  border-color: #1a1e21;
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

#icona{
  float:right;
}

footer{
  text-align:center;
  width: 100%;
  min-height: 70px;
  position: fixed;
  bottom: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

a.close.disabled {
  pointer-events: none;
}