/* custom @AleixAlgueró */
.forms {
    display: flex;
      justify-content: center;
      align-content: space-around;
      flex-wrap: nowrap;
      flex-direction: row;
  }
  
  .formJornada{
    margin: 10px;
  }
  
  i.fas.fa-history.fa-lg.formJornada{
    line-height: 1.8em;
  }
  
  #alert-success{
    display: none;
  }
  
  #alert-danger{
    display: none;
  }
  
  #hms{
     display: flex;
    }
  
  #titol{
    margin: 30;
  }
  
  .thead-dark{
    background-color: #212529;
    color: white;
  }
  
  
  .options{
    justify-content: center;
    margin-top: 25px;
    max-width: 1150px;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
  }
  
  .option{
    margin:20px;
    height: 60px;
    min-width: 250px;
    max-width: 100%;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    
  }
  
  /* .box {
    justify-content: center;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  1fr 1fr;
    gap: 10px 20px;
  } */